html {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
        font-size: 14px;
        background: #FFFFFF;
<!--	padding-left: 2em; -->
}

body {
    /*font-family: "Menlo", "Meslo LG", monospace;*/
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    position: relative;
        width: 70%;
        max-width: 70em;
        margin: 1.0em auto;
        padding: 0.5em 1.0em;
        border: 0px solid #88a;
        background: #FFFFFF;
        color: black;
        line-height: 140%;
}

* {
        background: transparent;
        font-size: 100%;
        line-height: inherit;
}

sup, sub { font-size: smaller; line-height: normal; }
sup { vertical-align: 25%; }

small { font-size: smaller; line-height: 150%; }
big { font-size: larger; line-height: 150%; }

h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 1em 0 0.1em 0;
        font-weight: normal;
        /*border-bottom: 1px solid #999;*/
}

h1 { font-size: 200%; line-height: normal; color: #4747d1 }
h2 { font-size: 170%; line-height: normal; color: #4747d1 }
h3 { font-size: 160%; line-height: normal; color: #4747d1 }
h4 { font-size: 140%; line-height: normal; color: #4747d1 }
h5 { font-size: 120%; line-height: normal; color: #4747d1 }
h6 { font-size: 110%; line-height: normal; color: #4747d1 }

ol {
        margin: 0 0 0.6em 0;
        padding-left: 1.5em;
        text-indent: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


ul { list-style: square; }

ul ul, ol ol, ol ul, ul ol {
        margin: 0;
}

dt { font-weight: bold; }

a       { text-decoration: underline; color: #333333 }
a:hover { text-decoration: underline; }

p, li, b {
    color: #444444;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
        text-align: justify;
        /*margin: 0.6em 1em;*/
        margin: 0.5em 0.1em;
}

p{margin: 0.5em 0.1em;}


time {
    padding-right: 1em;
    color: #666;
    font-size: 14px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#contact {
    float: left;
    width: 55%
}
#photo {
    align: center;
    float: right;
    width: 40%
}

#header {
  /*border-top: 5px solid #424242;*/
  border-bottom: 1px solid #e8e8e8;
  margin: 0 auto 2rem;
  width: 100%;
}
#header h1,
#header .h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #337AB7;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
#header a {
  background: none;
  color: inherit;
  text-decoration: none;
}
#header #logo {
  display: inline-block;
  float: left;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  filter: grayscale(100%);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
}
#header #nav {
  color: #2bbc8a;
  letter-spacing: 0.01em;
  font-weight: 200;
  font-style: normal;
  font-size: 0.8rem;
}
#header #nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 20px;
}
#header #nav ul a {
  margin-right: 10px;
  color: #2bbc8a;
}
#header #nav ul a:hover {
  background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}
#header #nav ul li {
  display: inline-block;
  margin-right: 3px;
  border-right: 1px dotted;
  border-color: #2bbc8a;
  vertical-align: middle;
}
#header #nav ul .icon {
  display: none;
}
#header #nav ul li:last-child {
  margin-right: 0;
  border-right: 0;
}
#header #nav ul li:last-child a {
  margin-right: 0;
}
#header:hover #logo {
  filter: none;
  -webkit-filter: none;
}
@media screen and (max-width: 480px) {
  #header #title {
    display: table;
    margin-right: 5rem;
    min-height: 50px;
  }
  #header #title h1 {
    display: table-cell;
    vertical-align: middle;
  }
  #header #nav ul a:hover {
    background: none;
  }
  #header #nav ul li {
    display: none;
    border-right: 0;
  }
  #header #nav ul li.icon {
    position: absolute;
    top: 77px;
    right: 1rem;
    display: inline-block;
  }
  #header #nav ul.responsive li {
    display: block;
  }
  #header #nav li:not(:first-child) {
    padding-top: 1rem;
    padding-left: 70px;
    font-size: 1rem;
  }
}
#header-post {
  position: fixed;
  top: 2rem;
  right: 0;
  display: inline-block;
  float: right;
  z-index: 100;
}
#header-post a {
  background: none;
  color: inherit;
  text-decoration: none;
}
#header-post a.icon {
  background: none;
}
#header-post a.icon:hover {
  color: #d480aa;
}
#header-post ol {
  list-style-type: none;
}
#header-post ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#header-post ul li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
#header-post ul li:last-child {
  margin-right: 0;
}
#header-post #menu-icon {
  float: right;
  margin-right: 2rem;
  margin-left: 10px;
}
#header-post #menu-icon:hover {
  color: #2bbc8a;
}
#header-post #menu-icon-tablet {
  float: right;
  margin-right: 2rem;
  margin-left: 10px;
}
#header-post #menu-icon-tablet:hover {
  color: #2bbc8a;
}
#header-post #top-icon-tablet {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  margin-right: 2rem;
  margin-left: 10px;
}
#header-post #top-icon-tablet:hover {
  color: #2bbc8a;
}
#header-post .active {
  color: #2bbc8a;
}
#header-post #menu {
  visibility: hidden;
  margin-right: 2rem;
}
#header-post #nav {
  color: #2bbc8a;
  letter-spacing: 0.01em;
  font-weight: 200;
  font-style: normal;
  font-size: 0.8rem;
}
#header-post #nav ul {
  line-height: 15px;
}
#header-post #nav ul a {
  margin-right: 15px;
  color: #2bbc8a;
}
#header-post #nav ul a:hover {
  background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}
#header-post #nav ul li {
  border-right: 1px dotted #2bbc8a;
}
#header-post #nav ul li:last-child {
  margin-right: 0;
  border-right: 0;
}
#header-post #nav ul li:last-child a {
  margin-right: 0;
}
#header-post #actions {
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
  width: 100%;
  text-align: right;
}
#header-post #actions ul {
  display: block;
}
#header-post #actions .info {
  display: block;
  font-style: italic;
}
#header-post #share {
  clear: both;
  padding-top: 1rem;
  padding-right: 2rem;
  text-align: right;
}
#header-post #share li {
  display: block;
  margin: 0;
}
#header-post #toc {
  float: right;
  clear: both;
  overflow: auto;
  margin-top: 1rem;
  padding-right: 2rem;
  max-width: 20em;
  max-height: calc(95vh - 7rem);
  text-align: right;
}
#header-post #toc a:hover {
  color: #d480aa;
}
#header-post #toc .toc-level-1 > .toc-link {
  display: none;
}
#header-post #toc .toc-level-2 {
  color: #c9cacc;
  font-size: 0.8rem;
}
#header-post #toc .toc-level-2:before {
  color: #2bbc8a;
  content: "#";
}
#header-post #toc .toc-level-3 {
  color: #666;
  font-size: 0.7rem;
}
#header-post #toc .toc-level-4 {
  color: #525252;
  font-size: 0.4rem;
}
#header-post #toc .toc-level-5 {
  display: none;
}
#header-post #toc .toc-level-6 {
  display: none;
}
#header-post #toc .toc-number {
  display: none;
}

#footer {
  border-top: 1px solid #e8e8e8;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
  color: #666;
  vertical-align: top;
  text-align: center;
  font-size: 11px;
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer li {
  display: inline-block;
  margin-right: 3px;
  border-right: 1px solid;
  border-color: #666;
  vertical-align: middle;
}
#footer li a {
  margin-right: 15px;
}
#footer li:last-child {
  margin-right: 0;
  border-right: 0;
}
#footer li:last-child a {
  margin-right: 0;
}
#footer a {
  color: #666;
  text-decoration: underline;
  background-image: none;
}
#footer a:hover {
  color: #858585;
}
#footer .footer-left {
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
}

@media (min-width: 39rem) {
  #footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
  }
  #footer .footer-left {
    align-self: flex-start;
    margin-right: 20px;
  }
  #footer .footer-right {
    align-self: flex-end;
  }
}

#footer-post {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000000;
  width: 100%;
  border-top: 1px solid #666;
  background: #212326;
  transition: opacity 0.2s;
}
#footer-post a {
  background: none;
  color: inherit;
  text-decoration: none;
}
#footer-post a.icon {
  background: none;
}
#footer-post a.icon:hover {
  color: #d480aa;
}
#footer-post #nav-footer {
  padding-right: 1rem;
  padding-left: 1rem;
  background: #323539;
  text-align: center;
}
#footer-post #nav-footer a {
  color: #2bbc8a;
  font-size: 1em;
}
#footer-post #nav-footer a:hover {
  background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}
#footer-post #nav-footer ul {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
#footer-post #nav-footer ul li {
  display: inline-table;
  padding: 10px;
  width: 20%;
  vertical-align: middle;
}
#footer-post #actions-footer {
  overflow: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
#footer-post #actions-footer a {
  display: inline-block;
  padding-left: 1rem;
  color: #2bbc8a;
}
#footer-post #share-footer {
  padding-right: 1rem;
  padding-left: 1rem;
  background: #323539;
  text-align: center;
}
#footer-post #share-footer ul {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
#footer-post #share-footer ul li {
  display: inline-table;
  padding: 10px;
  width: 20%;
  vertical-align: middle;
}
#footer-post #toc-footer {
  clear: both;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #323539;
  text-align: left;
}
#footer-post #toc-footer ol {
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}
#footer-post #toc-footer ol li {
  line-height: 30px;
}
#footer-post #toc-footer a:hover {
  color: #d480aa;
}
#footer-post #toc-footer .toc-level-1 > .toc-link {
  display: none;
}
#footer-post #toc-footer .toc-level-2 {
  color: #c9cacc;
  font-size: 0.8rem;
}
#footer-post #toc-footer .toc-level-2:before {
  color: #2bbc8a;
  content: "#";
}
#footer-post #toc-footer .toc-level-3 {
  color: #666;
  font-size: 0.7rem;
  line-height: 15px;
}
#footer-post #toc-footer .toc-level-4 {
  display: none;
}
#footer-post #toc-footer .toc-level-5 {
  display: none;
}
#footer-post #toc-footer .toc-level-6 {
  display: none;
}
#footer-post #toc-footer .toc-number {
  display: none;
}


.theorem {
    display: block;
    margin: 12px 0;
    font-style: italic;
    color: #444444
}
.theorem:before {
    content: "Theorem.";
    font-weight: bold;
    font-style: normal;
}
.theorem[text]:before {
content: "Theorem (" attr(text) ") ";
}

.proposition {
    display: block;
    margin: 12px 0;
    font-style: italic;
    color: #444444
}
.proposition:before {
    content: "Proposition.";
    font-weight: bold;
    font-style: normal;
}
.proposition[text]:before {
content: "Proposition"attr(text)".";
}

.corollary {
    display: block;
    margin: 12px 0;
    font-style: italic;
    color: #444444;
}
.corollary:before {
    content: "Corollary.";
    font-weight: bold;
    font-style: normal;
    color: #444444;
}
.lemma {
    display: block;
    margin: 12px 0;
    font-style: italic;
    color: #444444;
}
.lemma:before {
    content: "Lemma.";
    font-weight: bold;
    font-style: normal;
    color: #444444;
}
.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
    color: #444444;
}
.proof:before {
    content: "Proof.";
    font-style: italic;
    color: #444444;
}
.proof:after {
    content: "\25FC";
    float:right;
    color: #444444;
}
.definition {
    display: block;
    margin: 12px 0;
    font-style: normal;
    color: #444444;
}
.definition:before {
    content: "Definition.";
    font-weight: bold;
    font-style: normal;
    color: #444444;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
}

.left {
  width: 12%;
}

.right {
  width: 88%;
}










